body {
	width: 1440px;
	height: 1024px;
	font-family: "Lato", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #ece9e9 !important; /*culpa de bootstrap*/
}
nav {
	position: absolute;
	width: 1440px;
	height: 80px;
	left: 0px;
	top: 0px; /* a veces es 3 a veces 2 a veces -1*/

	background: linear-gradient(
		270deg,
		#745ece 0%,
		rgba(105, 72, 237, 0.41) 47.4%,
		#5e63c8 82.29%
	);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

p {
	font-family: "Lato";
	font-weight: 400;
	height: 35px;
	color: #000000;
	text-align: left;
	/* TODO: verificar*/
	vertical-align: top;
}

#logo {
	position: absolute;
	width: 100px;
	height: 60px;
	left: 100px;
	top: 10px;
}

#search {
	position: absolute;
	width: 892px;
	height: 47px;
	top: 20px;
	left: 448px;
}

input[type="text"] {
	border: 0px;
	outline: none;
	font-family: Lato;
	font-size: 24px;
	line-height: 29px;
	padding-left: 9px;
	color: #000000;
}

input::placeholder {
	font-family: Lato;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	height: 30px;
	line-height: 29px;
	color: #d4c9c9;
}

#searchbar {
	position: absolute;
	width: 892px;
	height: 47px;
}

button {
	outline: 0;
	border-radius: 0;
	border: 0;
	padding: 0;
	margin: 0;
}

#searchbutton {
	position: absolute;
	height: 47px;
	width: 56px;
	right: 0px;
	background-color: #e5e5e5;
}

#searchbuttonicon {
	position: absolute;
	left: 10px;
	top: 5px;
	height: 36px;
	width: 36px;
}

#wishlistbutton {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 44px;
	height: 40px;
	background-color: #00000000;
}

#catalog {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 159px;
	left: 100px;
	width: 1240px;
	background-color: #ffffff;
}

.catalogitem {
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
	height: 221px;
	background: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.15);
}

.productpicturebutton {
	position: absolute;
	width: 180px;
	height: 180px;
	display: flex;
	align-items: center;
	justify-content: center;
	left: 44px;
	top: 30px;
	border-radius: 15px;
}

.favouritepicbutton {
	position: absolute;
	width: 180px;
	height: 180px;
	display: flex;
	align-items: center;
	justify-content: center;
	left: 100px;
	top: 20px;
	border-radius: 15px;
}

.productpicture {
	height: 100%;
	border-radius: 15px;
}
.pricetext {
	position: absolute;
	left: 348px;
	top: 30px;
	width: 150px;
	font-size: 24px;

	line-height: 28.8px;
}
.freeshippingicon {
	width: 20px;
	height: 20px;
	position: absolute;
	left: 498px;
	top: 34px;
}
.nametext {
	position: absolute;
	left: 348px;
	top: 112px;
	width: 500px;
	font-size: 18px;
	line-height: 21.6px;
}
.locationtext {
	position: absolute;
	left: 1011px;
	top: 30px;
	width: 150px;
	font-size: 14px;

	line-height: 16.8px;
}

.notfoundtext {
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 100px;
	height: 331px;
	display: flex;
	flex-direction: column;
	text-align: center;
	font-family: "Lato";
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	color: #000000;
}
.searchagaintext {
	display: flex;
	height: 331px;
	flex-direction: column;
	text-align: center;
	font-family: "Lato";
	font-style: italic;
	font-weight: normal;
	font-size: 24px;

	color: #000000;
}

.detailcontainer {
	display: flex;
	position: relative;
	left: 0px;
	top: 0px;
	padding: 0px;
	margin: 0px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	width: 1240px;
	min-height: 852px;
	background-color: #ffffff;
}

.detailpicturecontainer {
	position: absolute;
	width: 563px;
	height: 520px;
	display: flex;
	align-items: center;
	justify-content: center;
	left: 50px;
	top: 54px;
	padding: 0px;
	border: none;
	background: none;
	background-color: #ffffff;
	border-radius: 15px;
}

.detailpicture {
	height: inherit;
	border-radius: 15px;
}

.breadcrumb {
	position: absolute;
	left: 99px;
	top: 114px;
	/* en figma es 520 pero queda de varias líneas y no creo que eso sea esperado */
	width: 1240px;
	height: 32px;
	font-size: 18px;

	line-height: 21.6px;
	text-align: justify;
	color: rgba(0, 0, 0, 0.67);
}

.condition {
	margin-top: 54px;
	margin-bottom: 31px;
	width: 312px;
	height: 35px;
	font-size: 14px;

	line-height: 16.8px;
}

.descriptiontitle {
	position: absolute;
	left: 50px;
	top: 597px;
	width: 312px;
	height: 31px;
	font-size: 28px;

	line-height: 33.6px;
}

.descriptionwrapper {
	display: block;
	position: relative;
	top: 651px;
	width: 1240px;
	height: max-content;
	margin: 1px solid rgba(0, 0, 0, 0.15);
	border-top: 0px;
	background-color: #ffffff;
	margin-bottom: 31px;
}

.description {
	text-align: justify;

	margin-left: 50px;
	width: 828px;
	height: max-content;
	font-size: 14px;
	color: #b8acac;
	background-color: #ffffff;
}

.nametextdetail {
	width: 312px;
	height: max-content;
	font-size: 24px;
	margin-bottom: 26px;
	display: block;
	line-height: 28.8px;
}

.pricetextdetail {
	height: 33px;
	font-size: 24px;
	line-height: 28.8px;
	margin-bottom: 48px;
}

.detailbutton {
	width: 312px;
	height: 51px;
	font-family: "Lato";
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 28.8px;
	color: #ffffff;
	left: 0px;
	border-radius: 20px;
	margin-bottom: 18px;
}

.favouritebutton {
	width: 200px;
	height: 51px;
	font-family: "Lato";
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 28.8px;
	color: #ffffff;
	position: absolute;
	background: #c968cb;
	left: 984px;
	top: 67px;
	border-radius: 20px;
}
#buybutton {
	top: 258px;
	background-color: #c968cb;
}

#addtofavouritesbutton {
	top: 327px;
	background-color: #8c86d7;
}

#boughtdialog {
	position: absolute;
	width: 578px;
	height: 364px;
	left: 486px;
	top: 359px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #ffffff;
	border: 1px solid #c6c2c2;
}

#dialogdivider {
	position: absolute;
	width: 556px;
	height: 0px;
	border: 1px solid #d5c9c9;
	background-color: #d5c9c9;
	bottom: 69px;
}

#dismissbutton {
	position: absolute;
	width: 145px;
	background-color: #8c86d7;
	bottom: 9px;
	left: 420px;
	margin: 0px;
}

.dialogproducttitle {
	position: relative;
	top: 114px;
	display: block;

	text-align: center;
	width: 312px;
	height: max-content;
	line-height: 28.8px;
}

.anadido {
	display: block;
	position: absolute;
	padding-top: 31px;
	bottom: 137px;
	width: 312px;
	height: 51px;
	font-weight: 700;
	line-height: 28.8px;
	text-align: center;
}

.checkboxbutton {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 92px;
	left: 40px;
	background-color: #c4c4c4;
	border: 0px;
	outline: 0px;
	border-radius: 0px;
}

#firstrow {
	height: 89px;
}

#checkboxfirstrow {
	top: 30px;
}

#eliminatedisabled {
	position: absolute;
	top: 15px;
	left: 100px;
	cursor: not-allowed;
	background-color: #ece9e9;
}

#eliminateenabled {
	position: absolute;
	top: 15px;
	left: 100px;
	cursor: pointer;
	background-color: #e1677d;
}

/* detail title overflow */
.pricebuttonscontainer {
	position: absolute;
	top: 0px;
	left: 878px;
	height: 828px;
	width: 362px;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
}
